.centered{
    /* margin-right: auto;
    margin-left: auto; */
    text-align: center;
    align-items: center;
}

.left {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
  }

#stick{
    /* position: sticky; */
    /* left: 0px;
    padding: 10px; */
}

.title{
    padding-top: 7%;
}

.spaceBelow{
    /* padding-bottom: 20px; */
}